body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  font-weight: 600;
  background: url('/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin: 0; padding: 0;
  color: #3e4246;
}

#api {
  height: 0;
  margin: 0; 
  padding: 0;
}

#osBar {
  width: 100%;
  height: 23px;
  margin: 0;
  padding-left: 15px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 6px 39px -5px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 6px 39px -5px rgba(0,0,0,0.7);
  box-shadow: 0px 6px 39px -5px rgba(0,0,0,0.7);
}

.apl-logo {
  font-size: 19px;
  padding-right: 11px !important;
}

.app-name {
  padding: 5px 8px !important;
  font-weight: bold;
}

.app-name-over,
.menu-popup .text:hover {
  background-color: #2687fb;
  color: #fff;
}

#osBar div {
  float: left;
  margin: 0;
  padding: 5px 0 0 7px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#date {
  float: right !important;
  padding-right: 30px !important;
}

.menu-popup {
  display: none;
  z-index: 100;
  width: 218px;
  padding: 4px 0 5px 0;
  position: absolute;
  left: 47px;
  top: 23px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  font-weight: normal;
  background-color: rgba(255, 255, 255, 0.7);
  border: 1px #c1c3c6 solid;
  user-select: none;
  -webkit-box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.13);
  box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.13);

  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-popup .text {
  padding: 2px 12px 2px 23px;
}

.about-popup {
  display: none;
  z-index: 100;
  width: 600px;
  height: 295px;
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  user-select: none;
  background-color: #fff;

  -webkit-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px #c1c1c1 solid;
}

.popup-top {
  background: url('/images/popup-top.jpg') 0 1px repeat-x; 
  text-align: center;
  height: 21px;
  /*padding: 4px 0 1px;*/
  border-bottom: 1px #c1c1c1 solid;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.popup-top .abtTitle {
  padding: 4px 0 1px;
  margin-right: 64px;
}

.about-popup .logo {
  background: url('/images/itunes-logo.jpg') no-repeat 30px 8px; 
  height: 260px;
}

.txtPopup {
  background: url('/images/apl-white-bg.jpg') no-repeat -2px 35px; 
  margin-left: 310px;
  padding-top: 90px;
}

.txtPopup span {
  font-size: 38px;
  letter-spacing: -1px;
}

.details {
  color: #aaaaaa;
  padding-top: 5px;
  font-size: 10px;
}

.details p {
  margin: 0;
  padding: 7px 25px 0 0;
  line-height: 12px;
}

.details p a {
  color: #aaaaaa;
  text-decoration: none;
  border-bottom: 1px #aaaaaa dotted;
}

.details p a:hover {
  color: #7c7c7c;
  border-bottom: 1px #7c7c7c solid;
}

.container {
  width: 803px;
  margin: 100px auto 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
}

.topBar {
  float: left;
  width: 803px;
  height: 44px;
  clear: both;
  border-bottom: 1px solid #aeaeae;
  background: url('/images/itunes-top.jpg') repeat-x; 
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#windowBtns {
  float: left;
  width: 72px;
  height: 30px;
  padding: 6px 0 0 8px;
}

#iTunesWinBtns {
  float: left;
  width: 74px;
  height: 30px; 
  padding: 15px 0 0 12px;
}

/*#windowBtns img,
.aboutWindowBtns img {
  padding-right: 5px;
}*/

/*.aboutWindowBtns {
  float: left;
  width: 72px;
  padding: 1px 0 0 2px; 
}*/

.aboutWinBtns {
  float: left;
  width: 66px;
  padding: 4px 0 0 0; 
}

#itunesController {
  float: left;
  padding-top: 12px;
}

#volume {
  float: left;
  width: 68px;
  height: 20px;   
  margin: 20px 25px 0 0;
  position: relative;
}

#slider {
  width: 52px;
  height: 4px;
  position: absolute;
  /*background-color: #ababab;*/
  background: url('/images/vol-back.jpg') repeat top left;
  margin: 0 auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  left: 18px; /* positions div */
}

#slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: default;
  background: url('/images/vol-handle-new.png') no-repeat;
  background-size: 65% 65%;
  outline: none;
  top: -7.5px;
  margin-left: -7px;
}

#slider .ui-slider-handle:active {
  background: url('/images/vol-handle-over-new.png') no-repeat;
  width: 30px;
  height: 30px;
  background-size: 65% 65%;
  top: -7.5px;
  margin-left: -7px;
}

#slider .ui-slider-range {
  /*background-color: #676767;*/
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

#coverArt {
  float: left;
  width: 44px;
  height: 44px;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  background: url('/images/cover.jpg') no-repeat;
  background-size: 100% !important;
  background-color: #000;
  background-size:cover !important;
  background-position:center center !important;
}

#info {
  float: left;
  width: 251px;
  height: 44px;
  text-align: center;
  font-weight: normal;
  overflow-y: hidden;
  background-color: #ededed;
  border-right: 1px solid #d5d5d5;
  /*border-bottom: 4px solid #bcbcbc;*/
}

#shuffleContainer {
  float: left;
  width: 30px;
  height: 20px;
  padding: 2px 0 0 4px;
}

#repeatContainer {
  float: left;
  width: 30px;
  height: 20px;
  padding: 2px 2px 0 0;
}

#repeatContainer img,
#shuffleContainer img {
  width: 30px;
  height: 20px;
}

#time1, #time2 {
  float: left;
  color: #a5a5a5;
  font-size: 11px;
  /*height: 8px;*/
  bottom: 3px;
  position: relative;
}

#time1 {
  /*width: 23px;*/
  padding-left: 4px;
  text-align: left;  
}

#time2 {
  /*width: 25px;*/
  padding-right: 4px;
  text-align: right;  
  float: right;
}

.mainText {
  background: url('/images/apl.png') no-repeat center center;
  background-size: 20%;
  float: left;
  width: 185px;
  height: 40px;
  font-weight: normal;
  overflow-y: hidden;
  overflow-x: hidden;
}

p#trackName {
  margin: 0 0 -1px; 
  padding-top: 5px;
  color: #3f3f3f;
  white-space: nowrap;
  position: relative;
}

p#artistAlbum {
  margin: 0; padding: 0;
  font-size: 10px;
  color: #8e8e8e;
  white-space: nowrap;
}

#scrobble, #progress {
  float: left;
  clear: both;
  width: 251px;
  height: 4px;
}

#scrobble { background-color: #c6c6c6; }
#progress { background-color: #7f7f7f; }

#scrobble .ui-slider-range { background-color: #7f7f7f; }
#scrobble .ui-slider-handle { background-color: #000; }

#searchContainer {
  float: right;
  width: 200px;
  height: 44px;
  padding: 11px 11px 0 0;
  text-align: center;
}

.floatLeft {
  float: left;
}

.clear {
  clear: both;
}

table {
  border: 0;
  font-weight: 400;
}

table td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table td:hover,
#osBar div,
#info {
  cursor: default;
}

table.currentPlaylist {
  width: 221px;
}

table.DraggableThings {
  width: 581px;
}

table.DraggableThings tr {
}

table.DraggableThings tr:nth-child(even) {
  background-color: #f5f5f5;
}

table.DraggableThings tr:first-child {
  background-color: none;
}

table.DraggableThings td {
  padding: 2px 0 2px 20px;
  width: 48%;
}

.selected, .selectedPL {
  background-color: #2687fb !important;
  color: #fff !important;
}

tr:nth-child(2) td.activePL {
  background: url('/images/playlist-recent-selected.jpg') no-repeat !important;
  background-size: contain !important;
  background-size: 20px 20px !important; 
}

tr td.activePL {
  background: url('/images/playlist-selected.jpg') no-repeat !important;
  background-size: contain !important;
  background-size: 20px 21px !important;
}

.searchColumn {
  float: left !important;
  width: 582px;
  min-height: 500px;
  /*border-right: 1px #d9d9d9 solid;*/
  border-bottom: 1px #d9d9d9 solid;
  border-left: none;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

.heading {
  float: left;
  width:100%;
  height:23px;
  vertical-align: middle;
  clear: both;
}

.heading table {
  width: 100%;
  font-size: 10px;
  border-bottom: 1px solid #d9d9d9;
}

.heading table td,
.searchPlaylist table td {
  padding: 5px 0 3px 5px;
  vertical-align: middle;
  border-left: 1px solid #d9d9d9;
}

.searchPlaylist table td {
  border-left: none !important;
  padding: 3px 5px 4px 5px;
  white-space: nowrap;
}

.heading table td:first-child {
  padding: 5px 0 3px 20px;
  border-left: none;
  width: 47%;
}

.searchPlaylist table td:first-child {
  padding: 3px 0 4px 20px;
  border-left: none;
  width: 47%;
}

.heading table td {
  padding: 5px 5px 3px 5px;
}

.heading table td:nth-child(2),
.searchPlaylist table td:nth-child(2) {
  width: 18%;
}

.searchPlaylist table td.channel,
.searchPlaylist table td.plays,
.searchPlaylist table td.date-added {
  padding-right: 0px !important;
}

.heading table td:nth-child(3),
.searchPlaylist table td:nth-child(3) {
  width: 10%;
  text-align: right;
}

.searchPlaylist table td.duration {
  padding-left: 0px !important;
}

.heading table td:nth-child(4),
.searchPlaylist table td:nth-child(4) {
  width: 12%;
}

.heading table td:last-child,
.searchPlaylist table td:last-child {
  padding-right: 7px;
  width: 13%;
}

.searchBox {
  float: left;
  width: 300px;
  height: 20px;
  padding: 10px 0;
  text-align: center;
}

input:first-child {
  border: 1px solid #ccc;
  padding: 3px 6px 4px 24px;
  outline: none;
  font-size: 12px;
  width: 180px;
  background: url('/images/mglass.jpg') #f6f6f6 no-repeat scroll 5px center;
  background-size: 8%;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  /*-webkit-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.5);*/
  /*-moz-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.5);*/
  /*box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.5);*/
}

input:focus {
  box-shadow: 0 0 2pt 1pt #669bcb;
  -webkit-box-shadow: 0 0 2pt 1pt #669bcb;
  -moz-box-shadow: 0 0 2pt 1pt #669bcb;
}

.searchPlaylist {
  float: left;
  height: 475px;
  width: 100%;
  max-height: 475px;
  min-width: 300px;
  overflow-y: scroll;
  border-left: none;
  clear: both;
  font-size: 11.75px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

.mainWindow {
  float: left;
  width: 221px;
  height: 497px;
  padding: 3px 0 0;
  /*border-right: 1px #d9d9d9 solid;*/
  border-bottom: 1px #d9d9d9 solid;
  /*border-left: 1px #d9d9d9 solid;*/
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f6f6f6;
}

.mainWindow tr:first-child {
  font-size: 10px;
  color: #9a9aa2;
  font-weight: bold;
}

.mainWindow tr:first-child td {
  padding: 0 13px 4px 13px !important;
}

.mainWindow td {
  vertical-align: top;
}

.mainWindow tr:not(:first-child) td {
  padding: 2px 13px 2px 13px;
}

.playerUI {
  width: 490px;
  height: 200px;
  padding-right: 10px;
  background-color: #f5f5f5;
}

.currentPlaylist {
  width: 100% !important;
  /*height: 366px;
  max-height: 366px;
  overflow-y: scroll;
  white-space: nowrap;
  vertical-align: top;
  clear: both;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;*/
}

.currentPlaylist tr:not(:first-child) {
  font-weight: 500;
  font-size: 13px;
}

.currentPlaylist tr:not(:first-child) td,
.currentPlaylist tr:not(:nth-child(2)) td {
  padding: 2px 0 3px 42px;
}

.currentPlaylist tr:nth-child(2) td {
  background: url('/images/playlist-recent.jpg') no-repeat;
  background-size: 20px 20px;
  background-position: 18px 1px !important;
}

.currentPlaylist tr:first-child td {
  background: none !important;
}

.currentPlaylist tr:not(:nth-child(2)) td {
  background: url('/images/playlist.jpg') no-repeat;
  background-size: 20px 20px;
  background-position: 18px 2px !important;
}

h3 {
  margin: 0;
  padding: 20px 0 0;
}

#previous {
  background: url('/images/itunes-back.gif');
  width: 23px;
  height: 20px;
  color: #fff;
  border: none;
}

#play {
  display: none;
  background: url('/images/itunes-play.gif');
  margin: 0 13px 0 15px;
  width: 20px;
  height: 20px;
  color: #fff;
  border: none;
}

#pause {
  background: url('/images/itunes-pause.gif') no-repeat;
  margin: 0 13px 0 15px;
  width: 20px;
  height: 20px;
  color: #fff;
  border: none;
}

#next {
  background: url('/images/itunes-next.gif');
  width: 23px;
  height: 20px;
  color: #fff;
  border: none;
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: default;
}

.scrollThis {
  animation-delay: 2s; /* W3C */
  -webkit-animation-delay: 2s; /* Safari & Chrome */
  -moz-animation-delay: 2s; /* Firefox */
  -ms-animation-delay: 2s; /* Internet Explorer */
  -o-animation-delay: 2s; /* Opera */
  animation: rightThenLeft 4s linear;
  -webkit-animation: rightThenLeft 4s linear;
}

@-webkit-keyframes rightThenLeft {
  0%   {margin-right:0;}
  50%  {margin-right:100%;}
}

iframe {
  pointer-events: none;
}

.mail {
  display: none;
  z-index: 90;
  width: 300px;
  height: 450px;
  background-color: #fff;
  position: absolute;
  left: 10px;
  bottom: 20px;
  border: 1px #bca903 solid;
  font-size: 12px;
  font-weight: normal;
  user-select: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
}

.mail-top {
  width: 300px;
  height: 36px;
  background: url('/images/mail-top.jpg') repeat-x; 
  border-bottom: 1px #a1a1a1 solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mailWinButtons {
  padding: 11px 0 0 12px;
  display: block;
  float: left;
}

.mail .form-line {
  padding: 9px 0;
  display: block;
  float: left;
  border-top: 1px #e6e6e6 solid;
  width: 100%;
}

.mail .label {
  display: block;
  float: left;
}

.mail .inputField {
  display: block;
  float: right;
  border: none;
  box-shadow: none;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 1px 24px 0 0;
  padding: 0;
  font-size: 12px;
  width: 75%;
  /*border: 1px #ccc solid;*/
}

::placeholder {
  color: #ccc;
}

.mail textarea {
  border: none;
  resize: none;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 0;
}

.mail .inputField:focus, 
.mail textarea:focus {
    outline: none;
}

.mailSendBtn {
  display: block;
  float: left;
  padding: 6px 0 0 10px;
}

.mailSend {
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  width: 43px !important;
  height: 26px !important;
  background: url('/images/mail-send.jpg') no-repeat !important;
  background-size: 100% !important;
  border: 0 !important;
}

.mailSend:hover {
  cursor: pointer;
}

.redBtn, .yelBtn, .greenBtn {
  width: 15px;
  height: 15px;
}

.yelBtn, .greenBtn {
  padding-left: 2px;
}

.aboutWinBtns .yelBtn, .aboutWinBtns .greenBtn {
  padding-left: 1px;
}

.header {
  padding: 0 0 0 24px;
  color: #988080;
  border-bottom: 1px #e6e6e6 solid;
}

.header p {
  margin: 0;
  padding: 9px 0;
}

.header .sendTo {
  color: #000;
  background-color: #d2e7fb;
  padding: 2px 3px;
  margin-left: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.msg {
  padding: 16px 24px;
}

.stickies {
  font-family: 'Covered By Your Grace', cursive;
  /*display: none;*/
  z-index: 90;
  width: 300px;
  height: 200px;
  min-height: 11px;
  background-color: #fef49c;
  position: absolute;
  right: 10px;
  bottom: 20px;
  border: 1px #bca903 solid;
  font-size: 17px;
  color: #000;
  user-select: none;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
}

.stickies .handle {
  height: 11px;
  width: 300px;
  background-color: #feea3d;
  border-bottom: 1px #bca903 solid;
}

.stickies .handle img {
  width: 10px;
  height: 9px;
  vertical-align: top;
  padding: 2px 0 0 2px;
}

.stickies .main {
  padding: 5px 15px;
  background-color: #fef49c;
}

.clear {
  clear: both;
}


/* dock - all */
.dock {
  position: relative; 
  height: 50px; 
  text-align: center;
}
.dock img {
  border: none;
}

/* dock - top */
.dock-container {
  position: absolute;
  height: 50px;
  background: url(../img/dock-bg2.gif);
  padding-left: 20px;
}
a.dock-item {
  display: block;
  width: 40px;
  color: #000;
  position: absolute;
  top: 0px;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
  border: none; 
  margin: 5px 10px 0px; 
  width: 100%; 
}
.dock-item span {
  display: none; 
  padding-left: 20px;
}

/* dock2 - bottom */
#dock2 {
  width: 100%;
  bottom: 0px;
  position: absolute;
  left: 0px;
}
.dock-container2 {
  position: absolute;
  height: 50px;
  /*background: url('/images/dock-bg.gif');*/
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 20px;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
a.dock-item2 {
  display: block; 
  font: bold 12px Arial, Helvetica, sans-serif;
  width: 40px; 
  color: #000; 
  bottom: 0px; 
  position: absolute;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
}
.dock-item2 span {
  display: none;
  font-weight: normal;
  margin-bottom: 20px;
  background-color: #fff;
  padding: 4px 0 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;

  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
}
.dock-item2 span:after, .dock-item2 span:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dock-item2 span:after {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 7px;
  margin-left: -7px;
}
.dock-item2 span:before {
  border-color: rgba(255, 255, 255, 0);
  border-top-color: #ffffff;
  border-width: 8px;
  margin-left: -8px;
}

.dock-item2 img {
  border: none; 
}
img.notFinder {
  width: 75%;
  margin-bottom: 10px; 
}
img.notMail {
  width: 95%;
  margin-bottom: 7px; 
}
img.notiTunes {
  width: 85%; 
  margin-bottom: 7px; 
}
