html {
  background: url('/images/bg.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

::-webkit-scrollbar { 
    display: none; 
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  margin: 0; padding: 0;
  color: #3e4246;
}

.api {
  height: 0;
  margin: 0; 
  padding: 0;
}

.os-bar {
  width: auto;
  height: 23px;
  margin: 0;
  padding: 0 10px 0 14px;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 13px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.7);
  -webkit-box-shadow: 0px 6px 39px -5px rgba(0,0,0,0.7);
  -moz-box-shadow: 0px 6px 39px -5px rgba(0,0,0,0.7);
  box-shadow: 0px 6px 39px -5px rgba(0,0,0,0.7);
}

.apl-logo {
  font-size: 19px;
  padding-right: 11px !important;
}

.app-name {
  padding: 5px 8px !important;
  font-weight: bold;
}

.app-name-over,
.menu-popup .about:hover,
.menu-popup .feedback:hover,
.menu-popup .hide-not-itunes:hover,
.menu-popup .show-not-itunes:hover,
.playlist-popup .new-playlist:hover,
.playlist-popup .clear-recent:hover,
.controls-popup div:hover {
  background-color: #2687fb;
  color: #fff;
}

.menu-popup .show-not-itunes, 
.date-popup {
  display: none;
}

.os-bar div {
  float: left;
  margin: 0;
  padding: 5px 8px;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.date {
  float: right !important;
  padding: 5px 7px 5px 6px !important;
}

.airplay {
  display: block;
  float: right !important;
  padding: 5px 0 0 !important;
  width: 28px;
  height: 18px;
}

.notification-ctr {
  display: block;
  float: right !important;
  padding: 0 !important;
  width: 22px;
  height: 22px;
}

.wifi {
  display: block;
  float: right !important;
  padding: 0 !important;
  width: 28px;
  height: 22px;  
}

.spotlight {
  display: block;
  float: right !important;
  width: 18px;
  height: 23px;
}

.wifi {
  opacity: 0.7;
  background: url('/images/wifi.png') 0 4px no-repeat;
  background-size: contain !important;
  background-position: center; 
  background-size: 72% !important;
  padding: 0 8px;
}

.wifi-off {
  opacity: 0.3 !important;
}

.airplay {
  background: url('/images/airplay.png') 0 5px no-repeat;
  /*background-position-y:  !important;*/
  background-position: center !important;
  background-size: 80%;
  /*border: 1px #000 solid;*/
  opacity: 0.3;
}

.spotlight {
  background: url('/images/spotlight.png') 0 -2px no-repeat;
  background-size: contain;
  background-position: center; 
  background-size: 53% !important;
  padding: 0 5px 0 10px !important;
}

.notification-ctr {
  background: url('/images/notification_ctr.png') 0 0 no-repeat;
  background-size: contain !important;
  background-position: center; 
  padding: 0 4px !important;
  /*border: 1px #000 solid;*/
}

.menu-popup,
.playlist-popup,
.controls-popup,
.date-popup {
  display: none;
  z-index: 100;
  width: 218px;
  padding: 4px 0 5px 0;
  position: absolute;
  top: 23px;
  font-family: Arial, sans-serif;
  font-size: 13.25px;
  font-weight: normal;
  background-color: rgba(259, 232, 230, 0.9);
  border: 1px #c1c3c6 solid;
  user-select: none;
  -webkit-box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.13);
  -moz-box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.13);
  box-shadow: 0px 5px 9px 1px rgba(0,0,0,0.13);

  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.menu-popup {
  left: 47px;
}

.playlist-popup {
  left: 129px;
}

.controls-popup {
  left: 186px;
}

.date-popup {
  right: 73px;
}

.menu-popup .about,
.menu-popup .hide-not-itunes,
.playlist-popup .new-playlist,
.playlist-popup .clear-recent,
.controls-popup .play-pause,
.controls-popup .next-video,
.controls-popup .previous-video,
.controls-popup .increase-vol,
.controls-popup .decrease-vol,
.controls-popup .shuffle,
.controls-popup .repeat {
  display: block;
  padding: 2px 12px 3px 19px;
  margin-bottom: 4px;
}

.menu-popup .show-not-itunes {
  padding: 2px 12px 3px 19px;
  margin-bottom: 4px; 
}

.date-popup {
  padding: 6px 19px 8px 19px;
  margin-bottom: 4px;
  width: auto !important;
  color: #b5b7ba;
  background-color: #e6d3db;
}

.menu-popup .hide-not-itunes,
.menu-popup .show-not-itunes,
.playlist-popup .clear-recent,
.controls-popup .play-pause,
.controls-popup .next-video,
.controls-popup .increase-vol,
.controls-popup .shuffle,
.controls-popup .repeat {
  margin-bottom: 0;
}

.menu-popup .hide-not-itunes,
.menu-popup .show-not-itunes,
.playlist-popup .clear-recent,
.controls-popup .increase-vol,
.controls-popup .shuffle {
  margin-top: 4px;
}

.controls-popup .decrease-vol {
  margin-bottom: 4px;
}

.menu-popup .feedback {
  display: block;
  padding: 2px 12px 2px 19px;
  margin: 5px 0;
}

.lbl-pause {
  display: none;
}

.divider {
  width: 100%;
  height: 1px;
  background-color: #ccc;
}

.cmd, .controls {
  float: right;
  letter-spacing: 3px;
}

.space {
  float: right;
}

.rowToAddPlaylist {
  display: none;
}

.about-popup {
  display: none;
  z-index: 10;
  width: 600px;
  height: 295px;
  position: absolute;
  font-family: Arial, sans-serif;
  font-size: 12px;
  font-weight: normal;
  user-select: none;
  background-color: #fff;

  -webkit-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  border: 1px #c1c1c1 solid;
}

.popup-top {
  background: url('/images/popup-top.jpg') 0 1px repeat-x; 
  text-align: center;
  height: 21px;
  /*padding: 4px 0 1px;*/
  border-bottom: 1px #c1c1c1 solid;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.popup-top .abtTitle {
  padding: 4px 0 1px;
  margin-right: 64px;
}

.about-popup .logo {
  background: url('/images/itunes-logo.jpg') no-repeat 30px 8px; 
  background-size: 42%;
  height: 260px;
}

.txtPopup {
  background: url('/images/apl-white-bg.jpg') no-repeat -1px 32px;
  background-size: 13% !important; 
  margin-left: 310px;
  padding-top: 90px;
}

.txtPopup span {
  font-size: 38px;
  letter-spacing: -1px;
}

.details {
  color: #aaaaaa;
  padding-top: 5px;
  font-size: 10px;
}

.details p {
  margin: 0;
  padding: 7px 25px 0 0;
  line-height: 12px;
}

.details p a {
  color: #aaaaaa;
  text-decoration: none;
  border-bottom: 1px #aaaaaa dotted;
}

.details p a:hover {
  color: #7c7c7c;
  border-bottom: 1px #7c7c7c solid;
}

.container {
  width: 803px;
  margin: 60px auto 0;
  padding: 0;
  background-color: #fff;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
}

.top-bar {
  float: left;
  width: 803px;
  height: 44px;
  clear: both;
  border-bottom: 1px solid #aeaeae;
  background: url('/images/itunes-top.jpg') repeat-x; 
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

/*.window-btns {
  float: left;
  width: 72px;
  height: 30px;
  padding: 6px 0 0 8px;
}
*/
.notiTunes-win-btns {
  float: left;
  width: 74px;
  height: 30px; 
  padding: 15px 0 0 12px;
}

/*.window-btns img,
.aboutWindowBtns img {
  padding-right: 5px;
}*/

/*.aboutWindowBtns {
  float: left;
  width: 72px;
  padding: 1px 0 0 2px; 
}*/

.about-win-btns {
  float: left;
  width: 66px;
  padding: 4px 0 0 0; 
}

.notiTunes-controller {
  float: left;
  padding-top: 11px;
}

.volume {
  float: left;
  width: 68px;
  height: 20px;   
  margin: 20px 25px 0 0;
  position: relative;
}

.slider {
  width: 60px;
  height: 4px;
  position: absolute;
  /*background-color: #ababab;*/
  background: url('/images/vol-back.jpg') repeat top left;
  margin: 0 auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  left: 18px; /* positions div */
}

.slider .ui-slider-handle {
  position: absolute;
  z-index: 2;
  width: 30px;
  height: 30px;
  cursor: default;
  background: url('/images/vol-handle-new.png') no-repeat;
  background-size: 65% 65%;
  outline: none;
  top: -7.5px;
  margin-left: -9px;
}

.slider .ui-slider-handle:active {
  background: url('/images/vol-handle-over-new.png') no-repeat;
  width: 30px;
  height: 30px;
  background-size: 65% 65%;
  top: -7.5px;
  margin-left: -9px;
}

.slider .ui-slider-range {
  /*background-color: #676767;*/
  position: absolute;
  border: 0;
  top: 0;
  left: 0;
  height: 100%;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
}

.cover-art {
  float: left;
  width: 44px;
  height: 44px;
  border-left: 1px solid #d5d5d5;
  border-right: 1px solid #d5d5d5;
  background: url('/images/cover.jpg') no-repeat;
  background-size: 100% !important;
  background-color: #000;
  background-size:cover !important;
  background-position:center center !important;
}

.info {
  float: left;
  width: 251px;
  height: 44px;
  text-align: center;
  font-weight: normal;
  overflow-y: hidden;
  background-color: #ededed;
  border-right: 1px solid #d5d5d5;
  /*border-bottom: 4px solid #bcbcbc;*/
}

.shuffle-container {
  float: left;
  width: 30px;
  height: 20px;
  padding: 2px 0 0 4px;
}

.repeat-container {
  float: left;
  width: 30px;
  height: 20px;
  padding: 2px 2px 0 0;
}

.repeat-container img,
.shuffle-container img {
  width: 30px;
  height: 20px;
}

.time1, .time2 {
  float: left;
  color: #a5a5a5;
  font-size: 11px;
  /*height: 8px;*/
  bottom: 3px;
  position: relative;
}

.time1 {
  /*width: 23px;*/
  padding-left: 4px;
  text-align: left;  
}

.time2 {
  /*width: 25px;*/
  padding-right: 4px;
  text-align: right;  
  float: right;
}

.mainText {
  background: url('/images/apl.png') no-repeat center center;
  background-size: 20%;
  float: left;
  width: 185px;
  height: 40px;
  font-weight: normal;
  overflow-y: hidden;
  overflow-x: hidden;
  position: relative;
}

p.trackName {
  margin: -2px 0 -1px; 
  padding-top: 5px;
  color: #3f3f3f;
  white-space: nowrap;
  position: absolute; /* relative */
  user-select: none;
  font-size: 13px;
}

.animateTrackName {
  -moz-transform:translateX(100%);
  -webkit-transform:translateX(100%);  
  transform:translateX(100%);
  /* Apply animation to this element */  
  -moz-animation: mainText 25s linear infinite;
  -webkit-animation: mainText 25s linear infinite;
  animation: mainText 25s linear infinite;
}

/* Move it (define the animation) */
@-moz-keyframes mainText {
 0%   { -moz-transform: translateX(100%); }
 100% { -moz-transform: translateX(-100%); }
}
@-webkit-keyframes mainText {
 0%   { -webkit-transform: translateX(100%); }
 100% { -webkit-transform: translateX(-100%); }
}
@keyframes mainText {
 0%   { 
 -moz-transform: translateX(100%); /* Firefox bug fix */
 -webkit-transform: translateX(100%); /* Firefox bug fix */
 transform: translateX(100%);     
 }
 100% { 
 -moz-transform: translateX(-100%); /* Firefox bug fix */
 -webkit-transform: translateX(-100%); /* Firefox bug fix */
 transform: translateX(-100%); 
 }
}


.artistAlbum {
  margin-top: 20px; 
  padding: 0;
  font-size: 11px;
  color: #8e8e8e;
  white-space: nowrap;
  font-size: 11px;
}

.scrobble, .progress {
  float: left;
  clear: both;
  width: 251px;
  height: 4px;
}

.scrobble { background-color: #c6c6c6; }
.progress { background-color: #7f7f7f; }

.scrobble .ui-slider-range { background-color: #7f7f7f; }
.scrobble .ui-slider-handle { background-color: #000; }

#searchContainer {
  float: right;
  width: 200px;
  height: 44px;
  padding: 11px 11px 0 0;
  text-align: center;
}

.floatLeft {
  float: left;
}

.clear {
  clear: both;
}

table {
  border: 0;
  font-weight: 400;
}

table td {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

table td:hover,
.os-bar div,
.info {
  cursor: default;
}

table.DraggableThings {
  width: 582px;
}

table.DraggableThings tr {
}

table.DraggableThings tr:nth-child(even) {
  background-color: #f5f5f5;
}

table.DraggableThings tr:first-child {
  background-color: none;
}

table.DraggableThings td {
  padding: 2px 0 2px 20px;
  width: 48%;
}

.selected, .selectedPL {
  background-color: #2687fb !important;
  color: #fff !important;
}

/*.kindaSelected, .kindaSelectedPL {
  background-color: #dcdcdc !important;
  color: #3e4246 !important;
}*/

.activePL {
  color: #d4e8fe !important;
}

.selected div {
  border-color: #2687fb !important;
}

tr:nth-child(2) td.activePL {
  background: url('/images/playlist-recent-selected.jpg') no-repeat !important;
  background-size: contain !important;
  background-size: 21px 21px !important; 
}

tr td.activePL {
  background: url('/images/playlist-selected.jpg') no-repeat !important;
  background-size: contain !important;
  background-size: 20px 21px !important;
}

.searchColumn {
  float: left !important;
  width: 582px;
  min-height: 503px;
  /*border-right: 1px #d9d9d9 solid;*/
  /*border-bottom: 1px #d9d9d9 solid;*/
  border-left: none;
  background-color: #fff;
/*  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;*/
}

.bottomBar {
  user-select: none;
  clear: both;
  display block;
  font-size: 10.5px;
  text-align: center;
  padding: 4px 0 2px;
  height: 17px;
  background: url('/images/itunes-bottom.jpg') repeat-x;
  background-size: 5%;
  border-top: 1px #a2a2a2 solid;

  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
}

.heading {
  float: left;
  width:100%;
  height:23px;
  vertical-align: middle;
  clear: both;
}

.heading table {
  width: 100%;
  font-size: 10px;
  border-bottom: 1px solid #e6e5e6;
}

.heading table td,
.searchPlaylist table td {
  padding: 2px 0 3px 5px; /* old: 5px 0 3px 5px; */
  vertical-align: middle;
  border-left: 1px solid #e6e5e6;
}

.searchPlaylist table td {
  border-left: none !important;
  padding: 2px 5px 3px 5px; /* old: 3px 5px 4px 5px; */
  white-space: nowrap;
}

.heading table td:first-child {
  padding: 5px 0 3px 20px;
  border-left: none;
  width: 47%;
}

.searchPlaylist table td:first-child {
  padding: 2px 0 3px 20px; /* old: 3px 0 4px 20px; */
  border-left: none;
  width: 47%;
}

.heading table td {
  padding: 5px 5px 3px 5px;
}

.heading table td:nth-child(2),
.searchPlaylist table td:nth-child(2) {
  width: 18%;
}

.searchPlaylist table td.channel,
.searchPlaylist table td.plays,
.searchPlaylist table td.date-added {
  padding-right: 0px !important;
}

.heading table td:nth-child(3),
.searchPlaylist table td:nth-child(3) {
  width: 10%;
  text-align: right;
}

.searchPlaylist table td.duration {
  padding-left: 0px !important;
}

.heading table td:nth-child(4),
.searchPlaylist table td:nth-child(4) {
  width: 12%;
}

.heading table td:last-child,
.searchPlaylist table td:last-child {
  padding-right: 7px;
  width: 13%;
}

.searchBox {
  float: left;
  width: 300px;
  height: 20px;
  padding: 10px 0;
  text-align: center;
}

#searchForm input {
  border: 1px solid #ccc;
  padding: 3px 6px 4px 24px;
  outline: none;
  font-size: 12px;
  width: 180px;
  background: url('/images/mglass.jpg') #f6f6f6 no-repeat scroll 5px center;
  background-size: 8%;
  border-radius: 4px 4px 4px 4px;
  -moz-border-radius: 4px 4px 4px 4px;
  -webkit-border-radius: 4px 4px 4px 4px;
  /*-webkit-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.5);*/
  /*-moz-box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.5);*/
  /*box-shadow: inset 0px 0px 6px -1px rgba(0,0,0,0.5);*/
}

input:focus {
  box-shadow: 0 0 2pt 1pt #669bcb;
  -webkit-box-shadow: 0 0 2pt 1pt #669bcb;
  -moz-box-shadow: 0 0 2pt 1pt #669bcb;
}

#searchField::-webkit-search-cancel-button{
  background-color: #7b7b7b;  
}

.searchPlaylist {
  float: left;
  height: 475px;
  width: 100%;
  max-height: 475px;
  min-width: 300px;
  overflow-y: scroll;
  border-left: none;
  clear: both;
  font-size: 11px; /* previously: 11.75px */
  -webkit-border-bottom-right-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  border-bottom-right-radius: 5px;
}

.playing {
  background: url('/images/playing-on-highlight.jpg') 3.5px 4px no-repeat;
  background-size: 12.5px 12.5px;
}

.playing-no-highlight {
  background: url('/images/playing-on.jpg') 3.5px 4px no-repeat;
  background-size: 12.5px 12.5px;
}

.add-playlist {
  border: none;
  font-size: 12.75px;
  padding-left: 3px;
}

.mainWindow {
  float: left;
  width: 221px;
  height: 497px;
  padding: 3px 0 0;
  /*border-right: 1px #d9d9d9 solid;*/
  border-bottom: 1px #d9d9d9 solid;
  /*border-left: 1px #d9d9d9 solid;*/
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;
  background-color: #f6f6f6;
}

.mainWindow tr:first-child {
  font-size: 10px;
  color: #9a9aa2;
  font-weight: bold;
}

.mainWindow tr:first-child td {
  padding: 0 13px 4px 13px !important;
}

.mainWindow td {
  vertical-align: top;
}

.mainWindow tr:not(:first-child) td {
  padding: 2px 13px 2px 13px;
}

.playerUI {
  width: 490px;
  height: 200px;
  padding-right: 10px;
  background-color: #f5f5f5;
}

.currentPlaylist {
  width: 100% !important;
  overflow-y: scroll;
  /*height: 366px;
  max-height: 366px;
  white-space: nowrap;
  vertical-align: top;
  clear: both;
  -webkit-border-bottom-left-radius: 5px;
  -moz-border-radius-bottomleft: 5px;
  border-bottom-left-radius: 5px;*/
}

.currentPlaylist.droppableItem {
  height: 366px;
}

.currentPlaylist tr:not(:first-child) {
  font-weight: 500;
  font-size: 12.75px;
  line-height: 17px;
}

.currentPlaylist tr:not(:first-child) td,
.currentPlaylist tr:not(:nth-child(2)) td {
  padding: 2px 0 3px 42px;
}

.currentPlaylist tr:nth-child(2) td {
  background: url('/images/playlist-recent.jpg') no-repeat;
  background-size: 20px 20px;
  background-position: 18px 1px !important;
}

.currentPlaylist tr:first-child td {
  background: none !important;
}

.currentPlaylist tr:not(:nth-child(2)) td {
  background: url('/images/playlist.jpg') no-repeat;
  background-size: 20px 20px;
  background-position: 18px 2px !important;
}

.currentPlaylist tr {
  /*border-bottom: 1px #ccc solid;*/
  padding-bottom: 3px;
}

.currentPlaylist tr td div {
  border: 1px #f6f6f6 solid;
}

.dropPlaylist {
  border: 1px #2687fb solid !important;
  margin: -1px 0 0 -25px;
  padding: 0 2px 1px 25px;

  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

.searchPlaylist .ui-draggable-dragging {
  opacity: 0.3;
  background-color: none !important;
  border: 1px #000 solid;
}

h3 {
  margin: 0;
  padding: 20px 0 0;
}

.previous {
  position: relative;
  bottom: 4px;
  background: url('/images/itunes-back.png') no-repeat;
  background-size: 100%;
  width: 22px;
  height: 13px;
  border: none;
  display: inline-block;
}

.play {
  display: none;
  background: url('/images/itunes-play.png') no-repeat;
  background-size: 100%;
  margin: 0 10px 0 16px;
  width: 22px;
  height: 22px;
  border: none;
}

.pause {
  display: inline-block;
  background: url('/images/itunes-pause.png') no-repeat;
  background-size: 100%;
  margin: 0 10px 0 16px;
  width: 22px;
  height: 22px;
  border: none;
}

.next {
  position: relative;
  bottom: 4px;
  display: inline-block;
  background: url('/images/itunes-next.png') no-repeat;
  background-size: 100%;
  width: 22px;
  height: 13px;
  border: none;
}

@-moz-document url-prefix() { 
  .previous, .next {
    bottom: 0;
  }

  #itunesController {
    padding-top: 9px;
  }  
}

button:focus {
  outline: 0;
}

button:hover {
  cursor: default;
}

.scrollThis {
  animation-delay: 2s; /* W3C */
  -webkit-animation-delay: 2s; /* Safari & Chrome */
  -moz-animation-delay: 2s; /* Firefox */
  -ms-animation-delay: 2s; /* Internet Explorer */
  -o-animation-delay: 2s; /* Opera */
  animation: rightThenLeft 4s linear;
  -webkit-animation: rightThenLeft 4s linear;
}

@-webkit-keyframes rightThenLeft {
  0%   {margin-right:0;}
  50%  {margin-right:100%;}
}

iframe {
  pointer-events: none;
}

.mail {
  display: none;
  z-index: 90;
  width: 300px;
  height: 450px;
  background-color: #fff;
  position: absolute;
  right: 10px;
  bottom: 20px;
  border: 1px #bababa solid;
  font-size: 12px;
  font-weight: normal;
  user-select: none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  -moz-box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
  box-shadow: 0px 5px 43px 0px rgba(0,0,0,0.8);
}

.mail-top {
  width: 300px;
  height: 36px;
  background: url('/images/mail-top.jpg') repeat-x; 
  border-bottom: 1px #a1a1a1 solid;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.mailWinButtons {
  padding: 11px 0 0 12px;
  display: block;
  float: left;
}

.mail .form-line {
  padding: 9px 0;
  display: block;
  float: left;
  border-top: 1px #e6e6e6 solid;
  width: 100%;
}

.mail .label {
  display: block;
  float: left;
}

.mail .inputField {
  display: block;
  float: right;
  border: none;
  box-shadow: none;
  background: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  margin: 1px 24px 0 0;
  padding: 0;
  font-size: 12px;
  width: 75%;
  /*border: 1px #ccc solid;*/
}

::placeholder {
  color: #ccc;
}

.mail textarea {
  border: none;
  resize: none;
  font-size: 12px;
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  padding: 0;
}

.mail .inputField:focus, 
.mail textarea:focus {
    outline: none;
}

.mailSendBtn {
  display: block;
  float: left;
  padding: 6px 0 0 10px;
}

.mailSend {
  box-shadow: none !important;
  -webkit-border-radius: 0 !important;
  -moz-border-radius: 0 !important;
  border-radius: 0 !important;
  padding: 0 !important;
  width: 43px !important;
  height: 26px !important;
  background: url('/images/mail-send.jpg') no-repeat !important;
  background-size: 100% !important;
  border: 0 !important;
}

.mailSend:hover {
  cursor: pointer;
}

.redBtn, .yelBtn, .greenBtn {
  width: 15px;
  height: 15px;
}

.yelBtn, .greenBtn {
  padding-left: 2px;
}

.about-win-btns .yelBtn, .about-win-btns .greenBtn {
  padding-left: 1px;
}

.header {
  padding: 0 0 0 24px;
  color: #988080;
  border-bottom: 1px #e6e6e6 solid;
}

.header p {
  margin: 0;
  padding: 9px 0;
}

.header .sendTo {
  color: #000;
  background-color: #d2e7fb;
  padding: 2px 3px;
  margin-left: 5px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.msg {
  padding: 16px 24px;
}

.stickies1 {
  left: 20px;
  bottom: 20px;
}

.stickies2 {
  left: 30px;
  bottom: 10px;
}

.stickies {
  font-family: 'Covered By Your Grace', cursive;
  /*display: none;*/
  z-index: 90;
  width: 300px;
  /*height: 200px;*/
  min-height: 11px;
  background-color: #fef49c;
  position: absolute;
  border: 1px #bca903 solid;
  font-size: 17px;
  color: #000;
  user-select: none;
  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
}

.stickies .handle {
  height: 11px;
  width: 300px;
  background-color: #feea3d;
  border-bottom: 1px #bca903 solid;
}

.stickies .handle img {
  width: 10px;
  height: 9px;
  vertical-align: top;
  padding: 2px 0 0 3px;
}

.stickies .main {
  padding: 5px 15px;
  height: 189px;
  background-color: #fef49c;
}

.stickies ul,
.stickies ul li {
  margin-left: 10px;
  padding: 0;
}

.stickies ul {
  margin: 5px 0 5px 10px;
}

.stickies p {
  margin: 0;
}

.stickies p:nth-child(2) {
  margin-top: 10px;
}

.clear {
  clear: both;
}


/* dock - all */
.dock {
  position: relative; 
  height: 50px; 
  text-align: center;
}
.dock img {
  border: none;
}

/* dock - top */
.dock-container {
  position: absolute;
  height: 50px;
  background: url(../img/dock-bg2.gif);
  padding-left: 20px;
}
a.dock-item {
  display: block;
  width: 40px;
  color: #000;
  position: absolute;
  top: 0px;
  text-align: center;
  text-decoration: none;
  font: bold 12px Arial, Helvetica, sans-serif;
}
.dock-item img {
  border: none; 
  margin: 5px 10px 0px; 
  width: 100%; 
}
.dock-item span {
  display: none; 
  padding-left: 20px;
}

/* dock2 - bottom */
#dock2 {
  width: 100%;
  bottom: 0px;
  position: absolute;
  left: 0px;
}
.dock-container2 {
  position: absolute;
  height: 50px;
  /*background: url('/images/dock-bg.gif');*/
  background-color: rgba(255, 255, 255, 0.7);
  padding-left: 20px;

  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
a.dock-item2 {
  display: block; 
  font: bold 12px Arial, Helvetica, sans-serif;
  width: 40px; 
  color: #000; 
  bottom: 0px; 
  position: absolute;
  text-align: center;
  text-decoration: none;
  padding: 0 10px;
}
.dock-item2 span {
  display: none;
  font-weight: normal;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  padding: 4px 0 !important;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  position: relative;

  -webkit-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
  box-shadow: 0px 0px 8px -1px rgba(0,0,0,0.5);
}
.dock-item2 span:after, .dock-item2 span:before {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
}
.dock-item2 span:after {
  border-color: rgba(240, 240, 240, 0);
  border-top-color: #f0f0f0;
  border-width: 7px;
  margin-left: -7px;
}
.dock-item2 span:before {
  border-color: rgba(240, 240, 240, 0);
  border-top-color: #f0f0f0;
  border-width: 8px;
  margin-left: -8px;
}

.dock-item2:last-child span {
  margin: 0 -10px 20px 0;
}

.dock-item2 img {
  border: none; 
}
img.notFinder {
  width: 75%;
  margin-bottom: 8px; 
}
img.notMail {
  width: 95%;
  margin-bottom: 5px; 
}
img.notiTunes {
  width: 85%; 
  margin-bottom: 5px; 
}
img.notStickies {
  width: 100%;
  margin-bottom: 3px; 
}
img.notTrash {
  width: 95%;
  margin: 0 -10px 3px 0;
}