<!doctype html>
<html ng-app='RdioApp'>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118583968-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118583968-1');
  </script>


  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/styles.css">

  <meta charset="UTF-8">
  <title>Not iTunes</title>
  <bash href="/">
</head>
<body ng-controller="TrackController">
  <div id="api"></div>
  <div id="osBar">
    <div class="apl-logo"></div>
    <div class="app-name">Not iTunes</div><div id="date"></div>
  </div>

  <div class="menu-popup">
    <div class="text">About Not iTunes</div>
  </div>

  <div class="stickies">
    <div class="handle"><img src="/images/stickies-btn.jpg" width="10" height="9" /></div>
    <div class="main">
      Before you do anything, try this:<br> ALT + SPACEBAR &#x1F601;

      <p><strong>"NOT iTUNES"</strong> is a WORK IN PROGRESS. If you have any suggestions or comments (especially on glitches), please let me know. Thanks! -Patrick</p>

    </div>
    <div class="clear"></div>
  </div>

  <div class="about-popup">
    <div class="popup-top">
      <div class="aboutWindowBtns">
        <img src="images/btn-red.gif" class="redBtn" />
        <img src="images/btn-yel.gif" class="yelBtn" />
        <img src="images/btn-green.gif" class="greenBtn" />
      </div>
      <span>About Not iTunes</span></div>
    <div class="logo">
      <div class="txtPopup">
        <span>Not iTunes</span>
        <div class="details">
          <p><strong>Not iTunes v0.51 Beta</strong></p>
          <p><strong>For entertainment purposes only.</strong> Not iTunes is a designer/beginner programmer's "Passion Project" - an exploration of Apple's Desktop UI behavior using only HTML/CSS &amp; JavaScript. This latest version is powered by AngularJS and has been adapted to use YouTube's API.</p>

          <p>Patrick (@<a href="https://twitter.com/villanuv" target="_blank">villanuv</a>) is <em>actively seeking</em> a new position as Software Engineer or Web Developer.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="container">
    <div class="topBar">
      <div id="windowBtns">
        <img src="images/btn-red.gif" />
        <img src="images/btn-yel.gif" />
        <img src="images/btn-green.gif" />
      </div>
      <div id="itunesController">
        <button id="previous"></button>
        <button id="play"></button>
        <button id="pause"></button>
        <button id="next"></button>
      </div>
      <div id="volume">
        <div id="slider"></div>
      </div>
      <div id="coverArt"></div>
      <div id="info">
        <div id="repeatContainer"><img src="images/repeat-off.jpg" />
          <div id="time1">0:00</div>
        </div>
        <div class="mainText">
          <p id="trackName"></p>
          <p id="artistAlbum"></p>
        </div>
        <div id="shuffleContainer"><img src="images/shuffle-off.jpg"><img src="images/shuffle-on.jpg" style="display:none;" />
          <div id="time2">0:00</div>
        </div>
        <div id="scrobble"><div id="progress"></div></div>  
      </div>
      <div id="searchContainer">
        <form id="searchForm">
          <input type="search" id="searchField" placeholder="Search YouTube" autocomplete="off" spellcheck="false" ng-keyup="$event.keyCode == 13 && submit()">
        </form>
      </div>
    </div>
    <div class="mainWindow">
      <div class="currentPlaylist droppableItem" style="height:366px;">
        <table border="0" cellspacing="0" class="currentPlaylist">
          <tr><td>All Playlists (Beta)</td></tr>
          <tr ng-repeat="playlist in playlists" ng-show="playlist.name" ng-class="{selected : isSelectedPL(playlist)}" ng-click="setMasterPL(playlist)" ng-dblclick="dblClickedPL(playlist)" ng-model="playlist">
            <td ng-class="{activePL : isSelectedPL(playlist)}">{{playlist.name}}</td>
          </tr>
          <!--

          ng-repeat="song in playlist track by $index"
          
          data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
          jqyoui-draggable="{index: {{$index}},animate:false}"

          ng-class="{selected : isSelected(song)}" ng-click="setMaster(song)"

          -->

        </table>
      </div>
      <div id="player"></div>
    </div>

    <div class="searchColumn">
      <div class="heading">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td valign="middle">Name</td>
            <td>Channel</td>
            <td>Time</td>
            <td>Plays</td>
            <td>Date Added</td>
            <!-- <td>Channel</td> -->
          </tr>
        </table>
      </div>
      <div class="searchPlaylist">
        <table border="0" cellpadding="0" cellspacing="0" class="DraggableThings">
          <tr ng-repeat="song in searchResults track by $index" ng-show="song.title" ng-class="{selected : isSelected(song)}" ng-click="setMaster(song)" ng-dblclick="dblClicked()" ng-model="searchResults">
            <td class="song-title">{{song['title'] | limitTo:38}}{{song['title'].length > 38 ? '...' : ''}}</td>
            <td class="channel">{{song['channelTitle'] | limitTo:12}}{{song['channelTitle'].length > 12 ? '...' : ''}}</td>
            <td class="duration">{{song['duration'] | convertYTDuration}}</td>
            <td class="plays">{{song['viewCount'] | truncatePlays}}</td>
            <td class="date-added">{{song['publishedAt'] | convertYTDate}}</td>
          </tr>
        </table>      
      </div>        
    </div>
    <div class="clear"></div>
  </div>

  <div id="footer"></div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"> </script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
  <script src="js/angular-dragdrop.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="js/playlists.js"></script>
  <script src="js/gapi.js"></script>
  <script src="js/app.js"></script>
</body>
</html>