<!doctype html>
<html ng-app='RdioApp'>
<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-118583968-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-118583968-1');
  </script>


  <link href='http://fonts.googleapis.com/css?family=Open+Sans:600,400' rel='stylesheet' type='text/css'>
  <link href="https://fonts.googleapis.com/css?family=Covered+By+Your+Grace" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="css/styles.css">
  <meta property="og:title" content="Not iTunes" />
  <meta property="og:description" content="Not iTunes v0.52 Beta: An experimental UX/UI and JavaScript exercise from dj.WYSIWYG" />
  <meta property="og:image" content="http://not-itunes.djwysiwyg.com/images/screen_fb.jpg" />

  <meta charset="UTF-8">
  <title>Not iTunes</title>
  <bash href="/">
</head>
<body ng-controller="TrackController">
  <div class="api"></div>
  <div class="os-bar">
    <div class="apl-logo"></div>
    <div class="app-name">Not iTunes</div>
    <div class="playlist-dropdown">Playlist</div>
    <div class="view-dropdown">View</div>
    <div class="controls-dropdown">Controls</div>
    <div class="notification-ctr"></div>
    <div class="spotlight"></div>
    <div class="date"></div>
    <div class="wifi"></div>
    <div class="airplay"></div>
  </div>

  <div class="notification-ctr-block">
    <div class="pseudo-btn">Notifications</div>
    <div class="today">Latest</div>
    <div class="entry-container">
      <div class="icon-type"></div>
      <div class="entry-text">
        <div class="entry-header">Not iTunes 0.52 Release</div>
        <div class="entry-body">New Notifications area. Main interface extended with more data. Added playlist count, upload times. Top bar with Playlist, Controls and Date dropdowns. More icons.</div><!-- maxlength: 167chars -->
      </div>
    </div>
    <div class="entry-container">
      <div class="icon-type"></div>
      <div class="entry-text">
        <div class="entry-header">Just Added</div>
        <div class="entry-body">Longer titles now scroll, while shorter titles stay put. New status bar, with playlist count and duration. Added fullscreen. Enabled clearing Recently Played. Keyboard commands synced.</div><!-- maxlength: 167chars -->
      </div>
    </div>
    <div class="entry-container">
      <div class="icon-type"></div>
      <div class="entry-text">
        <div class="entry-header">Bugs Fixed</div>
        <div class="entry-body">Individual plays can be repeated. Shuffle fixed, shows associated data with current plays. Dragging to Recently Played is fixed/disabled. Recenty Played stored to browser.</div><!-- maxlength: 167chars -->
      </div>
    </div>
    <div class="entry-container">
      <div class="icon-type"></div>
      <div class="entry-text border-disabled">
        <div class="entry-header">Not iTunes 0.51 Release</div>
        <div class="entry-body">Renamed from iTunes HTML. Replaced Rdio API with YouTube API. Playlist creation with Drag N Drop added. Updated interface for recent OS. Added dock with "Not Mail" and "Not Stickies."</div><!-- maxlength: 167chars -->
      </div>
    </div>
    <div class="today border-disabled">Older Notes</div>
    <div class="entry-container">
      <div class="icon-type"></div>
      <div class="entry-text">
        <div class="entry-header">iTunes HTML</div>
        <div class="entry-body">Originally a coding challenge from Belly in 2015. Used Rdio's service, and broke once they closed shop. Applied desktop UI to the web through HTML, CSS, JavaScript (AngularJS) and images.</div><!-- maxlength: 167chars -->
      </div>
    </div>
  </div>

  <div class="not-finder">
    <input type="search" class="notFinderSearch" placeholder="Spotlight Search" autocomplete="off" spellcheck="false" ng-keyup="notFinderSubmit($event)">
  </div>

  <div class="finder-video">
    <div class="qt-top">
      <div class="qt-btns">
        <img src="images/btnBlack-red.jpg" class="redBlkBtn" />
        <img src="images/btnBlack-yel.jpg" class="yelBlkBtn" />
        <img src="images/btnBlack-green.jpg" class="greenBlkBtn" />
      </div>
    </div>
    <iframe width="420" height="315" src="https://www.youtube.com/embed/omyZy4H8y9M?rel=0&amp;enablejsapi=1&amp;controls=0&amp;showinfo=0" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
  </div>

  <div class="menu-popup">
    <div class="about">About Not iTunes</div>
    <div class="divider"></div>
    <div class="feedback">Provide Not iTunes Feedback</div>
    <div class="divider"></div>
    <div class="hide-not-itunes">Hide Not iTunes <span class="cmd">&#8997;H</span></div>
    <div class="show-not-itunes">Show Not iTunes <span class="cmd">&#8997;H</span></div>
  </div>

  <div class="playlist-popup">
    <div class="new-playlist">New Playlist <span class="cmd">&#8997;N</span></div>    
    <div class="divider"></div>
    <div class="clear-recent">Clear Recently Played <span class="cmd">&#8997;D</span></div>
  </div>

  <div class="view-popup">
    <div class="status-bar"><span class="lbl-show">Show</span><span class="lbl-hide">Hide</span> Status Bar<span class="cmd">&#8997;/</span></div>
    <div class="divider"></div>
    <div class="full-screen"><span class="lbl-enter">Enter</span><span class="lbl-exit">Exit</span> Full Screen<span class="cmd">&#8997;F</span></div>
  </div>

  <div class="controls-popup">
    <div class="play-pause"><span class="lbl-play">Play</span><span class="lbl-pause">Pause</span> <span class="space">&#8997; Space</span></div>
    <div class="next-video">Next <span class="controls">&#8997;]</span></div>
    <div class="previous-video">Previous <span class="controls">&#8997;[</span></div>
    <div class="divider"></div>
    <div class="increase-vol">Increase Volume <span class="controls">&#8997;&#x2191;</span></div>
    <div class="decrease-vol">Decrease Volume <span class="controls">&#8997;&#x2193;</span></div>
    <div class="divider"></div>
    <div class="shuffle">Shuffle <span class="controls">&#8997;S</span></div>
    <div class="repeat">Repeat <span class="controls">&#8997;R</span></div>
  </div>

  <div class="date-popup" ng-model="dateToday">{{ dateToday }}</div>

  <div class="mail">
    <form class="contactForm" name="contactform" method="post" action="mailer.php">
    <div class="mail-top">
      <div class="mailWinButtons">
        <img src="images/btn-red.jpg" class="redBtn" />
        <img src="images/btn-yel.jpg" class="yelBtn" />
        <img src="images/btn-green.jpg" class="greenBtn" />
      </div>
      <div class="mailSendBtn"><input type="submit" value="" class="mailSend"></div>
    </div>
    <div class="header">
      <p>To: <span class="sendTo">Patrick (dj.WYSIWYG)</span></p>
      <div class="form-line">
        <div class="label">From:</div> <input class="inputField contactName" type="text" name="name" maxlength="80" placeholder="Your name">
      </div>
      <div class="form-line">
        <div class="label">Email:</div> <input class="inputField contactEmail" type="text" name="email" maxlength="80" placeholder="your_email@host.com">
      </div>
      <div class="clear"></div>
    </div>
    <div class="msg">
      <textarea class="contactMessage" name="message" maxlength="1000" rows="16"></textarea>
    </div>
    </form>
  </div>

  <div class="stickies stickies2">
    <div class="handle"><img src="/images/stickies-btn.jpg" width="10" height="9" /></div>
    <div class="main">
      <p>LIMITATIONS & KNOWN ISSUES</p>
      <ul>
        <li>Search returns 1 result only</li>
        <li>Reordering of playlists not enabled</li>
        <li>2+ plays highlighted in Recently Played</li>
      </ul>
    </div>
    <div class="clear"></div>
  </div>

  <div class="stickies stickies1">
    <div class="handle"><img src="/images/stickies-btn.jpg" width="10" height="9" /></div>
    <div class="main">
      Before you do anything, try this:<br> ALT + SPACEBAR &#x1F601;

      <p><strong>"NOT iTUNES"</strong> is a WORK IN PROGRESS. If you have any suggestions or comments (especially on glitches), <a href="#" onclick="launchNotMail()">please let me know</a>. Thanks! -Patrick</p>

    </div>
    <div class="clear"></div>
  </div>

  <div class="about-popup">
    <div class="popup-top">
      <div class="about-win-btns">
        <img src="images/btn-red.jpg" class="redBtn" />
        <img src="images/btn-blank.jpg" class="yelBtn" />
        <img src="images/btn-blank.jpg" class="greenBtn" />
      </div>
      <div class="abtTitle">About Not iTunes</div></div>
    <div class="logo">
      <div class="txtPopup">
        <span>Not iTunes</span>
        <div class="details">
          <p><strong>Not iTunes v0.52 Beta</strong></p>
          <p><strong>For promotional and educational purposes only.</strong> Not iTunes is a designer/developer's "Passion Project" - an exploration of Apple's Desktop UI behavior using only HTML/CSS, JavaScript and images. Powered by AngularJS and adapted to use YouTube's API.</p>

          <p>Patrick is available for contract work as Web Developer or Software Engineer. <a href="#" onclick="launchNotMail()">Contact him here</a>.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="rc-menu-search">
    <p class="label">Add to Playlist</p>
    <ul>
      <li ng-repeat="playlist in userCreatedPlaylists" ng-click="addToPlaylist(playlist.tracks, rightSelected)">{{playlist.name}}</li>
      <div class="divider"></div>
      <li class="remove-from-pl" ng-click="removeFromPlaylist(targetIndex)">Remove From Playlist</li>
    </ul>
  </div>

  <div class="rc-menu-playlist">
    <ul ng-model="rightSelectedPL">
      <li class="playPL" ng-click="dblClickedPL(rightSelectedPL); hidePlaylistMenu()" >Play {{rightSelectedPL.name}}</li>
      <li class="newPL" ng-class="targetIndexPL < manualPlaylistsCount ? 'menu-fix' : ''">New Playlist</li>
      <div class="divider" ng-if="targetIndexPL >= manualPlaylistsCount"></div>
      <li class="delete-pl" ng-click="deletePlaylist()" ng-if="targetIndexPL >= manualPlaylistsCount">Delete {{rightSelectedPL.name}}</li>
    </ul>
  </div>

  <div class="container">
    <div class="top-bar">
      <div class="notiTunes-win-btns">
        <img src="images/main-btn-red.jpg" class="redBtn" />
        <img src="images/main-btn-yel.jpg" class="yelBtn" />
        <img src="images/main-btn-green.jpg" class="greenBtn" />
      </div>
      <div class="notiTunes-controller">
        <button class="previous"></button>
        <button class="play"></button>
        <button class="pause"></button>
        <button class="next"></button>
      </div>
      <div class="volume">
        <div class="slider"></div>
      </div>
      <div class="cover-art"></div>
      <div class="info">
        <div class="shuffle-container"><img src="images/shuffle-off.jpg"><img src="images/shuffle-on.jpg" style="display:none;" />
          <div class="time1">0:00</div>
        </div>
        <div class="mainText">
          <p class="trackName"></p>
          <p class="artistAlbum"></p>
        </div>
        <div class="repeat-container"><img src="images/repeat-off.jpg" />
          <div class="time2">0:00</div>
        </div>
        <div class="scrobble"><div class="progress"></div></div>  
      </div>
      <div id="searchContainer">
        <form id="searchForm">
          <input type="search" id="searchField" placeholder="Search YouTube" autocomplete="off" spellcheck="false" ng-keyup="$event.keyCode == 13 && submit()">
        </form>
      </div>
    </div>
    <div class="mainWindow">
      <div class="currentPlaylist droppableItem">
        <table border="0" cellspacing="0" class="currentPlaylist">
          <tr><td>All Playlists (Beta)</td></tr>
          <tr ng-repeat="playlist in playlists track by $index" 
              ng-if="$index < manualPlaylistsCount" 
              ng-class="{selected : isViewingPL(playlist)}" 
              ng-click="setViewingPL(playlist)" 
              ng-dblclick="dblClickedPL(playlist)" 
              ng-right-click="setRightSelectedPL(playlist, $index)">
            <td ng-class="{activePL : isViewingPL(playlist)}">
              <div>{{playlist.name}}</div></td>
          </tr>
          <tr ng-repeat="playlist in playlists track by $index" 
              ng-if="$index >= manualPlaylistsCount"
              ng-show="playlist.name" 
              ng-class="{selected : isViewingPL(playlist)}" 
              ng-click="setViewingPL(playlist)" 
              ng-dblclick="dblClickedPL(playlist)" 
              ng-right-click="setRightSelectedPL(playlist, $index)" 
              ng-model="playlist">
            <td ng-class="{activePL : isViewingPL(playlist)}" ng-if="!playlist.deleted">
              <div data-drop="true" ng-model="playlist.tracks" jqyoui-droppable="{multiple:true, onOver: 'onOver', onOut: 'onOut', onDrop: 'onDrop'}">{{playlist.name}}</div></td>
          </tr>
          <!--

          ng-repeat="song in playlist track by $index"
          
          data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" 
          jqyoui-draggable="{index: {{$index}},animate:false}"

          ng-class="{selected : isSelected(song)}" ng-click="setSelectedSong(song)"

          -->
          <tr class="rowToAddPlaylist"><td><input ng-model="newPlaylist" type="text" class="add-playlist" autocomplete="off" spellcheck="false" placeholder="Playlist" ng-keyup="$event.keyCode == 13 && addPlaylist(newPlaylist)" /></td></tr>
        </table>
      </div>
      <div id="player"></div>
    </div>

    <div class="searchColumn">
      <div class="heading">
        <table border="0" cellpadding="0" cellspacing="0">
          <tr>
            <td class="index"></td>
            <td valign="middle" class="song-title">Name</td>
            <td class="channel">Channel</td>
            <td class="duration">Time</td>
            <td class="plays">Plays</td>
            <td class="date-added">Date Added</td>
          </tr>
        </table>
      </div>
      <div class="searchPlaylist">
        <table border="0" cellpadding="0" cellspacing="0" class="DraggableThings">
          <tr ng-repeat="song in searchResults track by $index" 
              data-drag="true"
              data-jqyoui-options="{revert: 'invalid', helper: 'clone'}"
              jqyoui-draggable="{index: {{$index}}, placeholder: 'keep'}" 
              ng-show="song.title" 
              ng-class="{selected : isSelected(song)}" 
              ng-click="setSelectedSong(song); iconHackSwap($index); setViewingPLDim()" 
              ng-dblclick="dblClicked(song); iconHackSwapSingle($index)" 
              ng-right-click="setRightSelected(song, $index)" 
              ng-model="searchResults">
            <td class="index">{{$index+1}}</td>
            <td class="song-title">{{song['title'] | limitTo:39}}{{song['title'].length > 39 ? '...' : ''}}</td>
            <td class="channel">{{song['channelTitle'] | limitTo:13}}{{song['channelTitle'].length > 13 ? '...' : ''}}</td>
            <td class="duration">{{song['duration'] | convertYTDuration}}</td>
            <td class="plays">{{song['viewCount'] | truncatePlays}}</td>
            <td class="date-added">{{song['publishedAt'] | convertYTDate}}</td>
          </tr>
        </table>      
      </div>        
    </div>
    <div class="clear"></div>
    <div class="bottomBar">&nbsp;{{plData}}&nbsp;</div>
  </div>

  <div id="footer"></div>

  <div class="dock" id="dock2">
    <div class="dock-container2">
      <a class="dock-item2" href="#"><span>Not Finder</span><img src="images/finder-app.png" alt="Not Finder" class="notFinder"></a> 
      <a class="dock-item2" href="#" onclick="launchNotiTunes()"><span>Not iTunes</span><img src="images/itunes-app.png" alt="Not iTunes" class="notiTunes"></a>
      <a class="dock-item2" href="#" onclick="launchNotMail()"><span>Not Mail</span><img src="images/mail-app.png" alt="Not Mail" class="notMail"></a> 
      <a class="dock-item2" href="#" onclick="launchNotStickies()"><span>Not Stickies</span><img src="images/stickies-app.png" alt="Not Stickies" class="notStickies"></a>
      <a class="dock-item2" href="#" onclick="#"><span>Not Trash</span><img src="images/trash-can.png" alt="Not Trash" class="notTrash"></a>
    </div>
  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="https://apis.google.com/js/client.js?onload=googleApiClientReady"> </script>
  <script src="js/jquery-ui.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.1/angular.min.js"></script>
  <script src="js/angular-dragdrop.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.9.0/underscore-min.js"></script>
  <script src="js/iutil.js"></script>
  <script src="js/fisheye.js"></script>
  <script src="js/playlists.js"></script>
  <script src="js/gapi.js"></script>
  <script src="js/directives.js"></script>
  <script src="js/filters.js"></script>
  <script src="js/ui-functions.js"></script>
  <script src="js/app.js"></script>
</body>
</html>